* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Define style for the body */
body {
  background-color: #d9dcd6;
}
/* Define style for the header class */
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}
/* Define style for h1 element inside the header section */
.header h1 {
  display: inline-block;
  font-size: 48px;
}
/* Define style for seo class inside the h1 element which is also inside the header section */
.header h1 .seo {
  color: #d9dcd6;
}
/* Define style for nav section inside the header section */
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
/* Define style for ul section inside the nav section which is also inside the header section */
.header nav ul {
  list-style-type: none;
}
/* Define style for lists inside the ul section, which is inside the nav section, which is also inside the header section */
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}
/* Define style for the anchor elements */
a {
  color: #ffffff;
  text-decoration: none;
}
/* Define style for the paragraph elements */
p {
  font-size: 16px;
}
/* Define style for the hero class */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}
/* Define style for float-left class */
.float-left {
  float: left;
  margin-right: 25px;
}
/* Define style for float-right class */
.float-right {
  float: right;
  margin-left: 25px;
}
/* Define style for content class */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
/* Define style for benefits class */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}
/* Define style for benefit-lead class */
.benefit-lead {
  margin-bottom: 32px;
  color: #ffffff;
}
/* Define style for benefit-brand class */
.benefit-brand {
  margin-bottom: 32px;
  color: #ffffff;
}
/* Define style for benefit-cost class */
.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}
/* Define style for h3 elements inside the benefit-lead class */
.benefit-lead h3 {
  margin-bottom: 10px;
  text-align: center;
}
/* Define style for h3 elements inside the benefit-brand class */
.benefit-brand h3 {
  margin-bottom: 10px;
  text-align: center;
}
/* Define style for h3 elements inside the benefit-cost class */
.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}
/* Define style for img elements inside the benefit-lead class */
.benefit-lead img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/* Define style for img elements inside the benefit-brand class */
.benefit-brand img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/* Define style for img elements inside the benefit-cost class */
.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/* Define style for isearch-engine-optimization class */
.search-engine-optimization {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/* Define style for online-reputation-management class */
.online-reputation-management {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/* Define style for social-media-marketing class */
.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
/* Define style for image inside the social-media-optimization class */
.search-engine-optimization img {
  max-height: 200px;
}
/* Define style for image inside the social-media-management class */
.online-reputation-management img {
  max-height: 200px;
}
/* Define style for image inside the social-media-marketing class */
.social-media-marketing img {
  max-height: 200px;
}
/* Define style for h2 elements inside the social-media-optimization class */
.search-engine-optimization h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/* Define style for h2 elements inside the social-media-management class */
.online-reputation-management h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/* Define style for h2 elements inside the social-media-marketing class */
.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/* Define style for footer class */
.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
/* Define style for h4 elements inside the footer class */

.footer h4 {
  font-size: 20px;
}
